
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please check back later, we haven't quite finished this portion of the project.  The Career Development resources should be available shortly!</h2>

