
@{
    ViewBag.Title = "Technical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please check back later, we haven't quite finished this portion of the project.  The Technical resources should be available shortly!</h2>

