@model InterviewQuestionGenerator.ViewModel.QuestionCategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container-fluid">
    <h2>Questions</h2>
    @Html.ActionLink("New Question", "New", "Question", null, new {@class = "btn btn-primary"})
    <br/>
    <br/>
    <table id="questions" class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>Active</th>
            <th>Question</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#questions").DataTable({
                ajax: {
                    url: "/api/questions/GetQuestion",
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "isSelected",
                        render: function(data) {
                            return (data === true)
                                ? "<input type='checkbox' id='actionChk' value=" + data + " checked >"
                                : "<input type='checkbox' id='action1' value=" + data + " >";
                        }
                    },
                    {
                        data: "question"
                    },
                    {
                        data: "questionCategory.category"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a href='/question/edit/" + data + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-question-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#questions").on("click",
                ".js-delete",
                function(e) {
                    var button = $(e.target);

                    bootbox.confirm("Are you sure you want to delete this question?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/questions/DeleteQuestion/" + button.attr("data-question-id"),
                                    method: "Delete",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw().reload();
                                    }
                                });
                            }
                        });
                });

            $("#questions").change('#actionChk', function (e) {
                var value = $(e.target).val();
                var rowData = table.row($(e.target).parents('tr')).data();
                $.ajax({
                    type: "Put",
                    url: "/api/questions/UpdateQuestion/" + rowData.id + '/' + value,
                    async: true,
                    success: function (msg) {
                        bootbox.alert("Question has been updated for this study session");
                        table.ajax.reload();
                    }
                });
            });
        });
    </script>
}
