@model InterviewQuestionGenerator.ViewModel.QuestionCategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container-fluid">
    <h2>Questions</h2>
    @Html.ActionLink("New Question", "New", "Question", null, new {@class = "btn btn-primary"})
    <br/>
    <br/>
    <table id="questions" class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>Question</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#questions").DataTable({
                ajax: {
                    url: "/api/questions",
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "question"
                    },
                    {
                        data: "questionCategory.category"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a href='/question/edit/" + data + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-question-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#questions").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this question?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/questions/" + button.attr("data-question-id"),
                                    method: "Delete",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
