@model InterviewQuestionGenerator.ViewModel.RandomQuestionViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Student.Name</h2>
<h2>@Model.Question.Question</h2>


