@model IEnumerable<InterviewQuestionGenerator.Models.Student>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" container-fluid">
    <h2>Students</h2>
    @Html.ActionLink("New Student", "New", "Student", null, new { @class = "btn btn-primary" })
    <table class="table">
        <thead>
        <tr>
            <th>Student Name</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Student", new { id = student.Id }, new{@class="btn btn-info"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<ul>
    
</ul>