@model IEnumerable<InterviewQuestionGenerator.Models.Student>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" container-fluid">
    <h2>Students</h2>
    <div>
        @Html.ActionLink("New Student", "New", "Student", null, new { @class = "btn btn-primary" })
        <br/>
        <br/>
    </div>
    <table id="students" class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>Active</th>
            <th>Student Name</th>
            <th>Cohort</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Save", "New", "Student", null, new { @class = "btn btn-primary" })
</div>
@section scripts{
    <script>
        $(document).ready(function() {

            var table = $("#students").DataTable({
                ajax: {
                    url: "/api/students/GetStudents",
                    dataSrc: ""
                },
                columns:
                [
                    {
                        data: "isSelectedForQuestions",
                        render: function(data) {
                            return (data === true) ? "<input type='checkbox' id='actionChk' value=" + data + " checked >" :
                                "<input type='checkbox' id='action1' value=" + data + " >";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "cohortType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a id='studentId' value=" + data + " href='/student/edit/" + data + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' id='actionDel' data-student-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#students").on("click",
                ".js-delete",
                function(e) {
                    var button = $(e.target);

                    bootbox.confirm("Are you sure you want to delete this student?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/students/" + button.attr("data-student-id"),
                                    method: "Delete",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw().reload();
                                    }
                                });
                            }
                        });
                });

            $("#students").change('#actionChk', function (e) {
                var value = $(e.target).val();
                var rowData = table.row($(e.target).parents('tr')).data();
                $.ajax({
                    type: "Put",
                    url: "/api/students/" + rowData.id + '/' + value,
                    async: true,
                    success: function (msg) {
                        bootbox.alert("Student has been updated for this study session");
                        table.ajax.reload();
                    }
                });
            });

        });
    </script>
    }