@model IEnumerable<InterviewQuestionGenerator.Models.Student>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" container-fluid">
    <h2>Students</h2>
    <div>
        @Html.ActionLink("New Student", "New", "Student", null, new { @class = "btn btn-primary" })
        <br/>
        <br/>
    </div>
    <table id="students" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Active</th>
                <th>Student Name</th>
                <th>Cohort</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
@section scripts{
<script>
        $(document).ready(function () {
            var table = $("#students").DataTable({
                    ajax: {
                        url: "/api/students/GetStudents",
                        dataSrc: ""
                    },
                    columns:
                        [
                            {
                                data: "isSelectedForQuestions",
                                render: function(data) {
                                    return (data === true) ? "<input type='checkbox' id='actionChk' value=" + data + " checked >" :
                                        "<input type='checkbox' id='action1' value=" + data + " >";
                                }
                            },
                        {
                            data: "name"
                            },
                        {
                            data: "cohortType.name"
                        },
                ]
            });
        });
</script>
}